:root {
    --black-color: #181D1F;
    --white-color: #fff;
    --white-hover-color: #cecece;
    --orange-color: #FF6B0A;
    --orange-hover-color: #ff7a22;
    --blue-color: #005BBB;
    --white-gradient-color: #FCFEFF;
    --blackout-color: rgb(27, 29, 31, 0.7);
}

.dark {
    --black-color: #fff;
    --white-color: #181D1F;
    --white-hover-color: #cecece;
    --white-gradient-color: #181D1F;
    --blackout-color: rgba(60, 60, 60, 0.7);
    transition: all 0.3s ease-in-out;
}

.light {
    --black-color: #181D1F;
    --white-color: #fff;
    --white-hover-color: #cecece;
    --white-gradient-color: #FCFEFF;
    --blackout-color: rgb(27, 29, 31, 0.7);
    transition: all 0.3s ease-in-out;
}

html,
body {
    height: 100%;
    min-width: 430px;
    font-family: 'Montserrat', sans-serif;
    background: var(--white-color);
}

h1 {
    color: var(--black-color);
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
}

h2 {
    color: var(--black-color);
    font-weight: 600;
    font-size: 48px;
    line-height: 100px;
}

h3 {
    color: var(--black-color);
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
}

h4 {
    color: var(--black-color);
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

p {
    color: var(--black-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.m-bottom-0 {
    margin-bottom: 0;
}

.m-bottom-12 {
    margin-bottom: 12px;
}

.m-bottom-16 {
    margin-bottom: 16px;
}

.m-bottom-24 {
    margin-bottom: 24px;
}

.m-bottom-32 {
    margin-bottom: 32px;
}

.m-bottom-48 {
    margin-bottom: 48px;
}

.m-16-auto {
    margin: 16px auto;
}

.w-875-center {
    text-align: center;
    width: 875px;
}

.w-290 {
    width: 290px;
}

.c-orange {
    color: var(--orange-color);
}

/* section-banderogus ----------------------------------------*/

.section-banderogus {
    display: flex;
    flex-direction: column;
    background: linear-gradient(270deg, #A5DEFF 0%, var(--white-gradient-color) 100%);
    height: auto;
}

.banderogus-container {
    position: relative;
    width: 1170px;
    width: auto;
    margin: 0 auto;
}

header {
    display: flex;
    position: absolute;
    justify-content: space-between;
    width: 90%;
    top: 0;
    left: 0;
    margin: 34px 0 58px 95px;
}

header div {
    display: flex;
    align-items: center;
}

header button {
    color: var(--white-color);
    background: var(--black-color);
    margin-right: 18px;
}

.logo-text {
    margin-left: 18px;
    line-height: 16px;
}

.main-wrapper {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.wrapper {
    margin-left: 95px;
    align-self: center;
    background: var(--white-color);
    padding: 60px 56px;
}

button {
    color: var(--white-color);
    background: var(--orange-color);
    border-radius: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 12px 24px;
    cursor: pointer;
}

button:hover {
    background: var(--orange-hover-color);
}

.banderogus-image {
    align-self: flex-end;
}

/* section-facts ----------------------------------------*/

.section-facts {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 52px 0 72px 0;
    background: var(--white-color);
}

.facts-container {
    display: flex;
    justify-content: space-between;
    width: 1170px;
}

.fact-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

/* section-foter ----------------------------------------*/

.section-footer {
    display: flex;
    justify-content: center;
    background: var(--white-color);
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(270deg, #C1E8FF 0%, var(--white-color) 100%);
    width: 1170px;
    margin-bottom: 72px;
    padding: 72px;
}

/* section-modal ----------------------------------------*/

.modal-container {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--blackout-color);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
}

.modal-form-container {
    position: relative;
    background: var(--white-color);
    padding: 32px 92px 60px 92px;
}

.modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-item {
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    color: var(--black-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
}

input[type=text] {
    background: var(--white-color);
    color: var(--black-color);
    border: 1px solid var(--blue-color);
    border-radius: 8px;
    font-weight: 400;
    font-size: 16px;
    height: 38px;
    padding: 4px 8px;
}

.close-btn {
    position: absolute;
    color: var(--black-color);
    background: var(--white-color);
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    font-size: 20px;
    border-radius: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.close-btn:hover {
    background: var(--white-hover-color);
}

.modal-active {
    opacity: 1;
    pointer-events: all;
}

@media (min-width: 1600px) {
    .section-banderogus {
        height: auto;
    }

    .banderogus-container {
        width: auto;
    }

    .wrapper {
        padding: 60px 200px;
        width: 40%;
    }
}

@media (max-width: 1280px) {
    .w-875-center {
        width: 600px;
    }

    header {
        margin: 34px 0 58px 200px;
        width: 70%;
    }

    .section-banderogus {
        height: auto;
    }

    .banderogus-container {
        width: auto;
    }

    .main-wrapper {
        flex-direction: column-reverse;
    }

    .wrapper {
        padding: 60px 200px;
        margin-bottom: 10px;
        margin-left: 0;
    }

    .section-facts {
        justify-content: center;
        align-items: center;
        width: auto;
    }

    .facts-container {
        flex-direction: column;
        width: auto;
    }

    .fact-item {
        flex-direction: row;
        width: 100%;
    }

    .footer-container {
        width: 100%;
    }
}

@media (max-width: 960px) {
    .w-875-center {
        width: 80%;
    }

    header {
        position: relative;
        margin: 34px 0 0 120px;
    }

    .wrapper {
        padding: 60px 120px;
    }

    h1 {
        font-size: 58px;
    }

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 14px;
    }

    p {
        font-size: 14px;
    }
}

@media (max-width: 680px) {
    header {
        margin: 34px 0 0 0px;
        width: 90%;
    }

    .wrapper {
        padding: 60px 60px;
    }

    .fact-item {
        flex-direction: column;
        width: 100%;
    }

    .banderogus-image {
        width: 300px;
    }

    h1 {
        font-size: 44px;
    }

    h2 {
        font-size: 24px;
        line-height: 24px;
        text-align: center;
    }

    h3 {
        font-size: 18px;
    }
}